.login-modal-wrapper {
    max-width: 450px;
    width : 100%;
    #loginForm {
        .field {
            margin-bottom: 1rem;
            label {
                display: block;
                font-size: 0.8rem;
                margin-bottom: 0.2rem;
            }
            .p-inputtext, .p-inputwrapper {
                width: 100%;
            }
        }
        small {
            display: block;
        }
        .button-row {
            #loginBtn {
                min-width: 120px;
            }
        }
    }
}